Repository Nakama-Partnering-Services/nakama-project-scaffolding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-to-testing-and-backpromote, deploy-to-staging, create-frameworks-package-version, create-package-version, install-package-in-devhub

deploy-to-testing-and-backpromote:
  stage: dispatch-child-pipeline
  variables:
    DESTINATION_ENVIRONMENT: $DESTINATION_ENVIRONMENT
  trigger:
    include:
    - project: jdkgabri/project-scaffolding
      ref: main
      file: .gitlab/pipelines/deploy.yml
    strategy: depend
  parallel:
    matrix:
    - DESTINATION_ENVIRONMENT:
      - devint

deploy-to-staging:
  stage: dispatch-child-pipeline
  variables:
    DESTINATION_ENVIRONMENT: staging
  trigger:
    include:
    - project: jdkgabri/project-scaffolding
      ref: main
      file: .gitlab/pipelines/deploy.yml
    strategy: depend

create-frameworks-package-version:
  stage: dispatch-child-pipeline
  trigger:
    include:
    - project: jdkgabri/project-scaffolding
      ref: main
      file: .gitlab/pipelines/create-frameworks-package-version.yml
    strategy: depend

create-package-version:
  stage: create-package-version
  script:
  - sfdx auth:sfdxurl:store --sfdxurlfile $DEVHUB_SFDX_AUTH_URL --setdefaultdevhubusername
  - json=$(sfdx force:package:version:create --package Frameworks --installationkeybypass --skipvalidation --wait 10 --json)
  ...

install-package-in-devhub:
  stage: install-package-in-devhub
  allow_failure: true
  environment:
    name: scratch/$CI_COMMIT_REF_SLUG
    url: $SCRATCH_ORG_URL
    on_stop: delete-scratch-org
  resource_group: scratch/$CI_COMMIT_REF_SLUG
  script:
  - sfdx auth:sfdxurl:store --sfdxurlfile $DEVHUB_SFDX_AUTH_URL --setdefaultdevhubusername
  ...

Tryin including
  .gitlab-ci.yml
  environments.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

trying one more tie
  .gitlab-ci.yml
  .gitlab/pipelines/environments.yml
Due: none

no using includes..
  .gitlab-ci.yml
Due: none

Change include code quality
  .gitlab/pipelines/code-quality.yml
  .gitlab/pipelines/validate.yml
Due: none

Putting back comments
  .gitlab-ci.yml
Due: none

dummy change
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

trying local
  .gitlab-ci.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

fix could not resolve host
  .gitlab-ci.yml
  .gitlab/pipelines/deploy.yml
  .gitlab/pipelines/manual-deployment.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

Fixed little issues and some cleanup
  .github/workflows/create-frameworks-package-version.yml
  .github/workflows/validate.yml
  .gitlab-ci.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  .gitlab/pipelines/deploy.yml
  .gitlab/pipelines/environments.yml
  .gitlab/pipelines/validate.yml
Due: none

Updated README.md with trigger actions and inherited sharing, dummy changes to test reports on Code quality checks ESLINT and PMD
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  config/pmd-ruleset.xml
  frameworks/README.md
  sfdx-source/core/main/code/classes/domains/README.md
  sfdx-source/core/main/code/classes/selectors/README.md
  sfdx-source/core/main/code/classes/trigger-actions/README.md
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, create-frameworks-package-version, create-package-version, install-package-in-devhub

dummy changes
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

always report
  .github/workflows/validate.yml
Due: none

different output pmd
  .gitlab/pipelines/validate.yml
Due: none

no output
  .gitlab/pipelines/validate.yml
Due: none

local pipelines
  .gitlab-ci.yml
  .gitlab/pipelines/validate.yml
Due: none

Added comments
  .github/workflows/validate.yml
Due: none

dummy changes (#6)
  .github/workflows/validate.yml
  .gitlab-ci.yml
  .gitlab/pipelines/validate.yml
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

dummy change remove 1
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

rollback gitlab reports, removed pmd debus custom rule
  .gitlab/pipelines/validate.yml
  config/pmd-ruleset.xml
Due: none

upgraded api versions of framework classes, removed logs, debugs, increased time for package version create
  .github/workflows/create-frameworks-package-version.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/apex-dml-manager/src/classes/DMLManager.cls-meta.xml
  frameworks/apex-dml-manager/src/classes/Test_DMLManager.cls-meta.xml
  frameworks/extensions/SObjectSecureUnitOfWork.cls-meta.xml
  frameworks/extensions/SObjectsSecureSelector.cls-meta.xml
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, create-package-version, install-package-in-devhub

dummy change remove 1 (#7)
  .github/workflows/create-frameworks-package-version.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  .gitlab/pipelines/validate.yml
  config/pmd-ruleset.xml
  frameworks/apex-dml-manager/src/classes/DMLManager.cls-meta.xml
  frameworks/apex-dml-manager/src/classes/Test_DMLManager.cls-meta.xml
  frameworks/extensions/SObjectSecureUnitOfWork.cls-meta.xml
  frameworks/extensions/SObjectsSecureSelector.cls-meta.xml
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, create-package-version, install-package-in-devhub

Updated sfdx-project.json and README.md with new package version
  sfdx-project.json
Due: none

updated fflib_SObjectDescribe with fieldsets
  frameworks/fflib-apex-common/sfdx-source/apex-common/main/classes/fflib_SObjectDescribe.cls
  frameworks/fflib-apex-common/sfdx-source/apex-common/test/classes/fflib_SObjectDescribeTest.cls
Due: create-package-version, install-package-in-devhub

Updated README.md
  README.md
Due: none

Updated sfdx-project.json and README.md with new package version
  README.md
  sfdx-project.json
Due: none

Added new package promoted
  README.md
  sfdx-project.json
Due: none

Remove npm ci caches from some github jobs, remove aliases where not needed, added TODOs and || true for environment replacements
  .github/workflows/create-frameworks-package-version.yml
  .github/workflows/deploy.yml
  .github/workflows/manual-deployment.yml
  .github/workflows/scheduled-scratch-orgs-creation.yml
  .github/workflows/scheduled-tests.yml
  .github/workflows/validate.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  .gitlab/pipelines/scheduled-tests.yml
Due: none

Restore needed install npm github for prettier sfdx-project json and README.md on package version creation. Best attemp to do it as well on gitlab. not tested
  .github/workflows/create-frameworks-package-version.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
Due: none

Clean redundant rules if in gitlab pipelines
  .gitlab-ci.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  .gitlab/pipelines/scheduled-tests.yml
Due: none

Dummy changes on js and clear test methods in DomainBuilder
  frameworks/apex-domainbuilder/sfdx-source/core/test/classes/DomainBuilder_Test.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, create-package-version, install-package-in-devhub

Updated README.md
  .gitlab-ci.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  README.md
Due: none

added todo for trailheadapps/github-action-sfdx-packaging-updater@1.1.0
  .gitlab/pipelines/create-frameworks-package-version.yml
Due: none

alert
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

Fix issues
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging

Updated README
  README.md
Due: none

CI gitlab bot
  .gitlab/pipelines/create-frameworks-package-version.yml
Due: none

echoing catched possible error on create package version
  .github/workflows/create-frameworks-package-version.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
Due: none

Path conditions:
  deploy-to-testing-and-backpromote: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*, sfdx-source/**/vlocity/**/*
  deploy-to-staging: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*, sfdx-source/**/vlocity/**/*
  create-frameworks-package-version: any of: frameworks/**
  create-package-version: any of: frameworks/**/*
  install-package-in-devhub: any of: frameworks/**/*
