Repository Nakama-Partnering-Services/nakama-project-scaffolding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-to-testing-and-backpromote, deploy-to-staging, create-frameworks-package-version, generate-deltas, deploy-deltas, deploy-vlocity, verify-linting, verify-pmd, validation-deployment, scratch-org-validations

Path conditions:
  deploy-to-testing-and-backpromote: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*, sfdx-source/**/vlocity/**/*
  deploy-to-staging: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*, sfdx-source/**/vlocity/**/*
  create-frameworks-package-version: any of: frameworks/**/*
  generate-deltas: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*
  deploy-deltas: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*
  deploy-vlocity: any of: sfdx-source/**/vlocity/**/*
  verify-linting: any of: sfdx-source/**/main/**/*.js
  verify-pmd: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*
  validation-deployment: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*
  scratch-org-validations: any of: sfdx-source/**/main/**/*, sfdx-source/**/test/classes/**/*

Roll back changes due to issue: https://github.com/forcedotcom/sfdx-scanner/issues/551
  package.json
Due: none

Added verifyCoverage.ts
  scripts/node/.eslintrc.json
  scripts/node/utilities/verifyCoverage.ts
Due: none

Added verifycation in validate.yml files
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
Due: none

Dummy changes
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: deploy-to-testing-and-backpromote, deploy-to-staging, generate-deltas, deploy-deltas, verify-pmd, validation-deployment, scratch-org-validations

Undo class changes since its working
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: deploy-to-testing-and-backpromote, deploy-to-staging, generate-deltas, deploy-deltas, verify-pmd, validation-deployment, scratch-org-validations

Chore/us verify coverage (#9)
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  scripts/node/.eslintrc.json
  scripts/node/utilities/verifyCoverage.ts
Due: none

remove release as a valid branch name
  scripts/node/hooks/pre-push.js
Due: none

Added replaceCobertura and improved verifyCovergae
  scripts/node/utilities/replaceCoberturaFileNamePaths.ts
  scripts/node/utilities/verifyCoverage.ts
Due: none

Merge Unit Test report and Test coverage visualization changes
  .gitlab-ci.yml
  .gitlab/pipelines/manual-deployment.yml
  .gitlab/pipelines/scheduled-tests.yml
  .gitlab/pipelines/validate.yml
  README.md
Due: none

Update JAVA VERSION
  .vscode/settings.json
Due: none

replaced verifyCoverage.ts script by plugin
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  scripts/node/utilities/verifyCoverage.ts
Due: none

Changed results file and only run verify when classes
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
Due: none

Added vlocity validation deployment
  .gitlab-ci.yml
  .gitlab/pipelines/validate.yml
Due: none

Replaced node.js script with nakama plugin
  .gitlab/pipelines/validate.yml
  scripts/node/utilities/replaceCoberturaFileNamePaths.ts
Due: none

Fixed file path
  .gitlab/pipelines/validate.yml
Due: none

Added cobertura to download
  .gitlab/pipelines/validate.yml
Due: none

feat: added commitlint and standard-version
  .commitlintrc
  .husky/commit-msg
  .versionrc
  package-lock.json
  package.json
Due: none

fix: fixed release version on package-lock.json
  package-lock.json
  package.json
Due: none

chore(release): 1.1.1
  CHANGELOG.md
Due: none

chore: remove unneeded properties from .versionrc
  .versionrc
Due: none

chore: added verifyBranchName.js also on pre-commit
  package.json
  scripts/node/utilities/verifyBranchName.js
Due: none

feat: add versionobseleteflows command before deploying deltas
  .github/workflows/deploy.yml
  .github/workflows/manual-deployment.yml
  .github/workflows/validate.yml
  .gitlab/pipelines/deploy.yml
  .gitlab/pipelines/manual-deployment.yml
  .gitlab/pipelines/validate.yml
Due: none

chore: change nakama-related-list to create package version and test commit-push on the fly
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: ry with default branch
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: try with HEAD
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: try with set-url
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: try push-to-repo
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: clean pipes and push-to-repo + dummy change on frameworks
  .github/workflows/deploy.yml
  .github/workflows/manual-deployment.yml
  .gitlab/pipelines/create-frameworks-package-version.yml
  .gitlab/pipelines/validate.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: fix pipeline issue and change README.md
  .gitlab/pipelines/create-frameworks-package-version.yml
  frameworks/README.md
Due: create-frameworks-package-version

chore: update sfdx-project.json [skip ci]
  sfdx-project.json
Due: none

docs: relocated release runbooks
  runbooks/release/1.0/POST-RUNBOOK.md
  runbooks/release/1.0/PRE-RUNBOOK.md
  runbooks/release/1.0/images/README.md
Due: none

chore: fix typos
  .github/workflows/scheduled-tests.yml
  .gitlab/pipelines/scheduled-tests.yml
  .gitlab/pipelines/validate.yml
Due: none

chore: updated verifyBranchName.js
  scripts/node/utilities/verifyBranchName.js
Due: none

chore: replace release by rc
  .gitlab-ci.yml
Due: none

chore: change entry for code quality
  .gitlab/pipelines/validate.yml
Due: none

chore: add production validation for patch branches
  .gitlab-ci.yml
  .gitlab/pipelines/deploy.yml
  .gitlab/pipelines/validate.yml
  README.md
  runbooks/releases/1.0/POST-RUNBOOK.md
  runbooks/releases/1.0/PRE-RUNBOOK.md
  runbooks/releases/1.0/images/README.md
Due: none

chore: add comments for pending rc and patch actions on GitHub
  .github/workflows/deploy.yml
  .github/workflows/validate.yml
Due: none

chore: adding environment and concurrency to github deployment jobs
  .github/workflows/deploy.yml
  .github/workflows/manual-deployment.yml
  .github/workflows/scheduled-tests.yml
  .github/workflows/validate.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, generate-deltas, deploy-deltas, verify-linting, verify-pmd, validation-deployment, scratch-org-validations

docs: update md files
  CONFIG.md
  frameworks/README.md
Due: create-frameworks-package-version

chore: try github patch and rc just push main
  .github/workflows/deploy-deltas.yml
  .github/workflows/deploy.yml
  .github/workflows/validate-deployment.yml
  .github/workflows/validate.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: deploy-to-testing-and-backpromote, deploy-to-staging, generate-deltas, deploy-deltas, verify-linting, verify-pmd, validation-deployment, scratch-org-validations
