Repository Nakama-Partnering-Services/nakama-project-scaffolding: changes, and which Bitbucket steps are due for each by the changed paths.
All: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

Path conditions:
  Verify ESLINT: any of: **/aura/**, **/lwc/**
  Verify PMD: any of: sfdx-source/**
  Scratch org validation: any of: sfdx-source/**
  Generate deltas: any of: sfdx-source/**
  Deltas validation deployment: any of: sfdx-source/**
  Print deployment results: any of: sfdx-source/**
  Verify test coverage: any of: sfdx-source/**
  Deploy to DEVINT: any of: sfdx-source/**
  Deploy to STAGING: any of: sfdx-source/**

chore: remove sfdx-scanner istall from package.json (#16)
  .lintstagedrc.js
  package.json
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: verify linting changes files
  .azure/templates/validate.yml
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  bitbucket-pipelines.yml
Due: none

fix: print results
  .azure/templates/validate.yml
  .github/workflows/validate-deployment.yml
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: print results 2
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: print results 3
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: clean up
  sfdx-source/core/main/code/classes/utilities/HttpCallout.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: print results
  .azure/templates/validate.yml
  .github/workflows/validate-deployment.yml
  frameworks/NebulaLogger/README.md
Due: none

chore: echo body
  .github/workflows/validate.yml
Due: none

chore: test
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  .github/workflows/validate.yml
Due: none

chore: test
  .github/workflows/validate-deployment.yml
  .github/workflows/validate.yml
Due: none

chore: test
  .github/workflows/validate-deployment.yml
  scripts/shell/pipelines/deploy.sh
  sfdx-source/core/main/code/classes/utilities/ClassTest.cls
  sfdx-source/core/main/code/classes/utilities/ClassTest.cls-meta.xml
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  sfdx-source/core/main/code/classes/utilities/ClassTest.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  scripts/shell/pipelines/deploy.sh
Due: none

chore: remove sh execution
  .azure/templates/deploy.yml
  .azure/templates/scheduled-tests.yml
  .azure/templates/validate.yml
  .github/workflows/validate-deployment.yml
  bitbucket-pipelines.yml
Due: none

chore: permission denied
  scripts/shell/pipelines/deploy.sh
Due: none

chore: test
  sfdx-source/core/main/code/classes/utilities/ClassTestTest.cls
  sfdx-source/core/main/code/classes/utilities/ClassTestTest.cls-meta.xml
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  sfdx-source/core/main/code/classes/utilities/ClassTestTest.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  frameworks/apex-dml-manager/src/classes/Test_DMLManager.cls
  sfdx-source/core/main/code/classes/utilities/ClassTest.cls
  sfdx-source/core/main/code/classes/utilities/ClassTest.cls-meta.xml
  sfdx-source/core/main/code/classes/utilities/ClassTestTest.cls
  sfdx-source/core/main/code/classes/utilities/ClassTestTest.cls-meta.xml
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: remove sh references and added run test in pr body for github
  .azure/templates/deploy.yml
  .azure/templates/scheduled-tests.yml
  .azure/templates/validate.yml
  .github/workflows/validate-deployment.yml
  bitbucket-pipelines.yml
  scripts/shell/pipelines/deploy.sh
Due: none

chore: excluding interfaces from verify coverage
  .azure/templates/validate.yml
  .github/workflows/validate-deployment.yml
  .gitlab/pipelines/validate.yml
  bitbucket-pipelines.yml
Due: none

chore: test
  sfdx-source/core/main/code/classes/ExampleI.cls-meta.xml
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test
  sfdx-source/core/main/code/classes/ExampleI.cls
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: update printing validation results on bitbucket
  bitbucket-pipelines.yml
Due: none

chore: add back public interface ignore test coverage in bitbucket-pipelines.yml
  bitbucket-pipelines.yml
Due: none

chore: little improvements deploy.sh
  scripts/shell/pipelines/deploy.sh
Due: none

feat: testlevel can be specified on PR description for GitLab
  .gitlab/pipelines/validate.yml
Due: none

feat: add PR description specified tests in bitbucket-pipelines.yml
  .gitlab/pipelines/validate.yml
  bitbucket-pipelines.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: test deploy flow inside of record-triggered folder detected by deltas
  scripts/shell/pipelines/deploy.sh
  sfdx-source/core/main/declarative-processes/flows/lightning-flows/record-triggered/DeleteMeTest.flow-meta.xml
Due: Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

fix: nps:package:destructive:versionobsoleteflows not working in deploy.sh
  scripts/shell/pipelines/deploy.sh
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
  sfdx-source/core/main/declarative-processes/flows/lightning-flows/record-triggered/DeleteMeTest.flow-meta.xml
Due: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: unified access token name and clarification comment on azure save sha
  .azure/templates/save-deployment-commit.yml
  .github/workflows/deploy-deltas.yml
  .github/workflows/manual-deployment.yml
  bitbucket-pipelines.yml
  sfdx-source/core/main/code/lwc/showToastUtility/showToastUtility.js
Due: Verify ESLINT, Verify PMD, Scratch org validation, Generate deltas, Deltas validation deployment, Print deployment results, Verify test coverage, Deploy to DEVINT, Deploy to STAGING

chore: remove cat
  scripts/shell/pipelines/deploy.sh
Due: none

chore: ignore experiences json files for autoformatting
  .lintstagedrc.js
Due: none

chore: remove validation formatting for experience json files
  .azure/templates/validate.yml
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  bitbucket-pipelines.yml
Due: none

chore: format file
  .lintstagedrc.js
Due: none

fix: ignore experiences .json prettier
  .lintstagedrc.js
  .prettierignore
Due: none
