Repository Nakama-Partnering-Services/nakama-project-scaffolding: changes, and which Bitbucket steps are due for each by the changed paths.
All: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

Path conditions:
  Verify linting: any of: **/aura/**, **/lwc/**
  Verify PMD: any of: force-app/**
  Deltas validation deployment: any of: force-app/**
  Verify test coverage: any of: force-app/**
  Deploy CICD: any of: force-app/**
  Deploy UAT: any of: force-app/**

chore: test with latest docker image 2
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

feat: make Azure pipelines work with nakama docker private image
  .azure/templates/scheduled-tests.yml
  .azure/templates/validate.yml
  azure-pipelines.yml
Due: none

chore: test github after touching image
  .github/workflows/validate.yml
Due: none

fix: improve GitHub Actions removed no longer needed export HOME
  .github/workflows/validate.yml
Due: none

chore: bitbucket test 18
  bitbucket-pipelines.yml
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: trigger deployment. docker image without ENV variables (probably will fail)
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 12
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: test github after touching image 3
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 10
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

test: github again with ROOT in docker image 4
  .github/workflows/deploy-deltas.yml
  .github/workflows/manual-deployment.yml
  .github/workflows/validate.yml
Due: none

chore: bitbucket test 6
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 21
  bitbucket-pipelines.yml
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

fix: layouts can have white spaces in its name
  .azure/templates/validate.yml
  .github/workflows/validate.yml
  .gitlab/pipelines/validate.yml
  bitbucket-pipelines.yml
Due: none

chore: bitbucket test 14
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

test: github again with ROOT in docker image
  .github/workflows/validate.yml
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: test with latest docker image 1
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: working with Azure. Latest tests
  .azure/templates/deploy.yml
  azure-pipelines.yml
Due: none

chore: test with specifically copying script files in docker image
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

test: github again with ROOT in docker image 2
  .github/workflows/validate.yml
Due: none

chore: bitbucket test 16
  bitbucket-pipelines.yml
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 19
  bitbucket-pipelines.yml
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: test with latest docker image 3
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 8
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: bitbucket test 13. everything else working. problem was docker image
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

feat: usage of docker image to improve privacy and speed (#21)
  .azure/templates/deploy.yml
  .azure/templates/scheduled-tests.yml
  .azure/templates/validate.yml
  .eslintignore
  .github/workflows/deploy-deltas.yml
  .github/workflows/manual-deployment.yml
  .github/workflows/scheduled-tests.yml
  .github/workflows/validate-deployment.yml
  .github/workflows/validate.yml
  .gitlab-ci.yml
  .gitlab/pipelines/deploy.yml
  .gitlab/pipelines/manual-deployment.yml
  .gitlab/pipelines/scheduled-tests.yml
  .gitlab/pipelines/validate.yml
  CHANGELOG.md
  azure-pipelines.yml
  bitbucket-pipelines.yml
  force-app/main/default/classes/MyTests.cls
  force-app/main/default/classes/MyTests.cls-meta.xml
  force-app/main/default/lwc/.eslintrc.json
  force-app/main/default/lwc/jsconfig.json
  force-app/main/default/lwc/showToastUtility/showToastUtility.html
  force-app/main/default/lwc/showToastUtility/showToastUtility.js
  force-app/main/default/lwc/showToastUtility/showToastUtility.js-meta.xml
  package-lock.json
Due: Verify linting, Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

fix: branch reference
  .github/workflows/validate.yml
Due: none

fix: remove unsused variable
  .azure/templates/validate.yml
Due: none

chore: add env replacements
  .env.replacements
Due: none

chore: break
  force-app/main/default/classes/Glamox_LN_Client.cls
Due: Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: name space on purpose
  force-app/main/default/classes/Glamox_LN Client.xml
Due: Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: no prettier
  force-app/main/default/classes/MyTests.cls
Due: Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore: work please
  force-app/main/default/classes/Glamox_LN_Client.cls
  force-app/main/default/classes/MyTests.cls
Due: Verify PMD, Deltas validation deployment, Verify test coverage, Deploy CICD, Deploy UAT

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: clarify comment for github environment replacements
  .env.replacements
Due: none

chore: update DMLManager API version and created new package version for Frameworks
  README.md
  frameworks/apex-dml-manager/src/classes/DMLManager.cls-meta.xml
  sfdx-project.json
Due: none

chore: replacements possible with 2 main root folder structure
  scripts/shell/pipelines/deploy.sh
Due: none

chore: sgd scoping default folder and adding frameworks to .forceignore
  scripts/shell/pipelines/deploy.sh
Due: none

chore: delete unneeded deploy.sh
  scripts/shell/pipelines/deploy.sh
Due: none

fix: lintstagedrc.js
  .lintstagedrc.js
Due: none
